.board {
  text-align: center;
  align:center;
}

.game-area {
  display: block;
}

.players {
  position: absolute;
  padding-top: 200px;
  padding-left: 90px;
}

.player-area {
  text-align: center;
}

.player-area > div {
  vertical-align: top;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.tile {
  margin: 20px;
  width: 160px;
  height: 105px;
  font-size: 24px;
}

.tile-small-font {
  margin: 20px;
  width: 160px;
  height: 105px;
  font-size: 19px;
}

.not-clickable {
  pointer-events: none;
}

.clickable {
  cursor: pointer;
}

.not-selected {
  background: #cdcdcd;
}

.selected-red {
  background: var(--codos-red);
  color: white;
}

.selected-blue {
  background: var(--codos-blue);
  color: white;
}

.selected-black {
  background: var(--codos-black);
  color: white;
}

.selected-gray {
  background: var(--codos-gray);
  color: white;
}

.spymaster-not-selected-red {
  background: var(--spymaster-red);
  color: white;
}

.spymaster-not-selected-blue {
  background: var(--spymaster-blue);
  color: white;
}

.spymaster-not-selected-black {
  background: var(--spymaster-black);
  color: white;
}

.spymaster-not-selected-gray {
  background: var(--spymaster-gray);
  color: white;
}

.score-board {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-red {
  text-align: center;
  color: var(--codos-red);
  margin: 10px;
}

.score-blue {
  text-align: center;
  color: var(--codos-blue);
  margin: 10px;
}

.score-dash {
  color: var(--spymaster-gray);
}

.toggle-button {
  position: absolute;
  right: 10px;
  padding: 5px;
}

.user-name-prompt {
  position: absolute;
  top: 35%;
  left: 45%;
}

.player-name-header {
  color: var(--spymaster-gray);
}
