.board {
  text-align: center;
}

.tile {
  margin: 20px;
  width: 160px;
  height: 105px;
  font-size: 24px;
  cursor: pointer;
}

.not-selected {
  background: white;
}

.selected-red {
  background: red;
  color: white;
}

.spymaster-not-selected-red {
  background: #f29083;
  color: white;
}

.spymaster-not-selected-blue {
  background: #8388f2;
  color: white;
}

.spymaster-not-selected-black {
  background: #4c4c54;
  color: white;
}

.spymaster-not-selected-gray {
  background: #a0a0ad;
  color: white;
}

.selected-blue {
  background: blue;
  color: white;
}

.selected-black {
  background: black;
  color: white;
}

.selected-gray {
  background: gray;
  color: white;
}

.score-board {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-red {
  text-align: center;
  color: red;
  margin: 10px;
}

.score-blue {
  text-align: center;
  color: blue;
  margin: 10px;
}

