.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  text-align: center;
}

.tile {
  margin: 20px;
  width: 200px;
  height: 150px;
  font-size: 24px;
  cursor: pointer;
}

.selected-red {
  background: red;
  color: white;
}

.selected-blue {
  background: blue;
  color: white;
}

.selected-black {
  background: black;
  color: white;
}

.selected-gray {
  background: gray;
  color: white;
}

.score-board {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-red {
  text-align: center;
  color: red;
  margin: 10px;
}

.score-blue {
  text-align: center;
  color: blue;
  margin: 10px;
}
