:root {
  --codos-blue:#5b80ee;
  --spymaster-blue:#a2a6f4;
  --codos-red:#e65757;
  --spymaster-red:#ffaba0;
  --codos-black:black;
  --spymaster-black:#4c4c53;
  --codos-gray:#999999;
  --spymaster-gray:#c5c6ce;
  --codos-bg:#f7f7f7;
}
